.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.square {
  float:left;
  position: relative;
  overflow:hidden;
  width: 12.5%;
  height: 12.5%;
  padding-bottom: 12.5%;  /*  set equal to width for a 1:1 aspect ratio */
  margin:0%;    /* we have 8 squares at 12.5% each = 100%, no margins */
  
}

.white {
  background-color: bisque
}

.black {
  background-color: cadetblue
}

.moveHighlight {
  background-color: aquamarine;
}

.piece {
  position: absolute;
  padding: 0%;
  height: 100%;
  width: 100%;
  font-size: 95px;

}

