.square {
    float:left;
    width: 12.5%;
    padding-bottom: 12.5%;  /*  set equal to width for a 1:1 aspect ratio */
    margin:0%;    /* we have 8 squares at 12.5% each = 100%, no margins */
  }


  .white {
    background-color: #F7F7E9;
  }
  
  .black {
    background-color: #1E1E1E;
  }